* {
    box-sizing: border-box;
}

body {
    background-color: #492E78;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 250px;
    transition: all 8s ease;
}

.container:hover {
    transform : rotateY( 180deg);
}

.card {
    width: 480px;
    height: 240px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

#back {
    background-color: white;
}

#face {
    margin-top: -240px;
    background-color: #1c1c1c;
}